* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    /* background-color:#F5EEDB ; */
    box-sizing: border-box;
    /* height: 9000px; */
    background-color: #F5EEDB;
    overflow-x: hidden;
}

/* .container{
    width: 100%;
    display: flex;
} */


/* Style nav  awal*/
nav {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #187771;
    justify-content: space-around;
    align-items: center;

}

nav .logo {
    font-family: "Protest Strike", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: #F5EEDB;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
}

nav ul li a {
    color: #F5EEDB;
    font-size: 1.2em;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #F5EEDB;
    color: #187771;
}

/* Hamburgerr */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 80px;
    height: 40px;
    top: -1px;
    left: -24px;
    opacity: 0;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 3px;

}

/* Style Nav akhir */

/* Style main awal */

main {

    /* margin: 20px; */
    max-width: : 100%;
    /* background-color: rgb(144, 140, 172); */
    box-sizing: border-box;
    position: relative;
    display: flex;

}

/* Style artikel ke 1 bagian beranda*/
.beranda {
    background-image: url(beranda.png);
    
    background-size: cover;
    width: 100%;
    height: 450px;
    text-align: center;

}

.beranda h1 {
    padding-top: 60px;
    font-size: 80px;
    text-shadow: 5px 0px 1px rgba(0, 0, 0, 0.6);
    color: #FFCA3A;
    font-weight: bold;

}

.beranda p:nth-child(2) {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);

}

.beranda p:nth-child(3) {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFCA3A;
    color: white;
}

.beranda button {
    width: 200px;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(18, 95, 35);
    color: white;
}

.beranda button:hover {
    font-size: 20px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 8px;
    background-color: white;
    color: rgb(18, 95, 35);
    cursor: pointer;
}


/* Style artikel ke 2 bagian info */
h2 {
    margin: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

h4 {
    font-size: 30px;

}

.info {
    /* margin-top: 20px; */
    margin: 30px 20px 30px 20px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;


}

.kotak {
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    /* align-content: center; */
    flex: 1;
    background-color: #187771;
    
}

.kotak h3 {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: center;
    padding: 10px;
    width: 150px;
}

.kotak p {
    text-align: justify;
    color: white;
}


/* About */
.about {
    margin-top: 30px;
    margin-left: -19px;
    display: flex;
    flex-direction: column;
    background-color: #F5EEDB;
    text-align: justify;
    display: flex;
    padding: 10px;
    /* position: relative; */
    height: 250px;
}

.about img {
    position: absolute;
    width: 195px;
    margin-top: 20px;
}

.about h2 {
    text-align: left;
    margin-left: 200px;
}

.about p {
    margin-left: 195px;
    font-size: 15px;
}

/* Paket Healing */
.paket-healing {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
}

.paket-healing h2 {
    text-align: center;
    width: 100%;
}

.card {
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    color: white;
    flex: 1;

}

.paket.satu {
    background-color: #636f6e;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
}

.paket.dua {
    background-color: #636f6e;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
}

.paket.tiga {
    background-color: #636f6e;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
}

.card img {
    margin: 20px;
}

.card h3 {
    font-size: 20px;
}

.card button {
    padding: 10px;
    border-radius: 5px;
    background-color: #FFCA3A;
    color: white;
    border-radius: 10px;


}

.card button.pilih {
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    width: 120px;
    background-color: #187771;
}

.card button.pilih:hover {
    background-color: #80dbd5;
}


/* Galeri */
.foto {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.galeri {
    display: flex;
    padding: 10px;
    align-self: center;
    margin-bottom: 30px;
}

/* Style main akhir */

/* Style aside awal */
aside {
    width: 40%;
    padding: 20px;
    /* height: 30%;
   background-color: #F5EEDB; */

}

aside img {
    border-radius: 20px;
    box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
}

aside table {
    margin-top: 20px;
}

aside h2 {
    color: #187771;
    margin-left: -10px;
}


/* Footer Awal */
footer {
    width: 100%;
    height: 50px;
    background-color: #187771;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    color: #F5EEDB;
}


/* Resposive */

/* Mode Tablet */
@media screen and (max-width : 768px) {
    nav ul {
        width: 55%;
    }

    main {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    /* Beranda */
    .beranda {
        background-image: url(beranda.png);
        background-size: cover;
        width: 100%;
        height: 300px;


    }

    .beranda h1 {
        padding-top: 20px;
        font-size: 50px;

    }

    .beranda p:nth-child(2) {
        padding: 20px;
        font-size: 13px;


    }

    .beranda p:nth-child(3) {
        padding: 10px;
        font-size: 17px;

    }

    /* Info */

    .info {
        /* max-width: 100%; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;

    }

    .info h2 {
        text-align: center;
        font-size: 20px;
    }

    .kotak {
        padding: 20px;
        border-radius: 20px;
        margin-left: 20px;
        /* align-content: center; */
        flex: 1;
        margin: 10px;
        align-self: center;
    }

    .kotak h3 {
        text-align: center;
        margin: 20px auto;
        width: 180px;
    }

    /* About */
    .about {
        width: 90%;
    }

    .about h2 {
        margin-left: 20px;
    }

    /* Paket Healing */
    .paket-healing {
        display: flex;
        flex-direction: column;
        /* width: 40%; */
        margin: auto;
    }

    /* Aside */
    aside {
        display: flex;


    }

    aside h2 {
        font-size: 20px;
        margin-top: 80px;
        margin-left: 20px;
    }


    aside table {
        margin-left: 50px;


    }


}

/* Mode HP */
@media screen and (max-width : 576px) {

    /* Nav */
    .menu-toggle {
        display: flex;

    }

    main {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    nav ul {
        position: absolute;
        z-index: -1;
    }

    /* Main  */

    /* Beranda */
    .beranda {
        background-image: url(beranda.png);
        background-size: cover;
        width: 100%;
        height: 300px;


    }

    .beranda h1 {
        padding-top: 20px;
        font-size: 50px;

    }

    .beranda p:nth-child(2) {
        padding: 20px;
        font-size: 13px;


    }

    .beranda p:nth-child(3) {
        padding: 10px;
        font-size: 17px;

    }



    /* Info */

    .info {
        max-width: 100%;
        /* display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    position: relative; */

    }

    .info h2 {
        text-align: center;
        font-size: 20px;
    }

    .kotak {
        padding: 20px;
        border-radius: 20px;
        margin-left: 20px;
        /* align-content: center; */
        flex: 1;
        margin: 10px;
        align-self: center;
    }

    .kotak h3 {
        text-align: center;
        margin: 20px auto;
        width: 180px;
    }

    /* About */
    .about {
        position: absolute;
        margin-top: 700px;
        align-items: center;


    }

    .about img {
        position: static;
        width: 300px;
        margin: -10p;
        align-items: center;
    }

    .about p {
        /* margin-top: 20px; */
        margin-left: 30px;

    }

    h2.tentang {
        text-align: center;
        margin: auto;
    }

    /* Paket Healing */
    .paket-healing {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        margin-top: 30px;
        margin-top: 80px
    }

    .card {
        /* justify-content: space-around; */
        text-align: center;
        /* padding: 20px; */
        color: white;
        flex: 1;


    }

    .paket-healing h2 {
        margin-top: 570px;
    }

    .paket {
        width: 50%;
        margin: auto;
        background-color: #636f6e;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.75);
    }

    /* Aside */
    aside {
        display: flex;


    }

    aside h2 {
        font-size: 20px;
        margin-top: 80px;
        margin-left: -10px;
    }


    aside table {
        margin-left: 10px;


    }

    /* footer{
                    width: 100vh;
                } */


}